@model TimePilot.Web.ViewModels.ResultsViewModel

@{ 
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div class="container">

    <div class="flex-container-header">
        <h1>Time Pilot</h1>
        <p>
            <a class="pre-activebread" href="Index">Project Selection</a> >
            <a class="pre-activebread" href="Story">Story Points</a> >
            <a class="pre-activebread" href="Resource">Resource Capacity</a> >
            <a class="activebread">Conversion Rate & Results</a>
        </p>
    </div>


    <h2>Conversion Rate</h2>

    @using (Html.BeginForm("Result", "Home", FormMethod.Post))
    {
        <table id="myTable">


            <tr>
                <th>Story pt</th>
                <th># of Stories</th>
                <th>Days/St pt</th>
                <th>Total Days</th>
            </tr>


            @for (int i = 0; i < Model.storypointAllocation.Length; i++)
            {
                <tr>
                    <td>
                        @Model.storypointAllocation[i]
                        @Html.HiddenFor(m => m.storypointAllocation[i])
                    </td>
                    <td>
                        @Model.numberOfStories[i]
                        @Html.HiddenFor(m => m.numberOfStories[i])
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DaysPerPt[i], new { @onchange = "this.form.submit();" })
                        @Html.HiddenFor(m => m.DaysPerPt[i])
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Total[i], new { @readonly = true })
                        @Html.HiddenFor(m => m.Total[i])
                    </td>

                </tr>
            }



        </table>

        <h2>Hours Estimation</h2>

        <table>

            <tr>
                <td>Total Hours: @Model.TotalHours</td>
                <td>Total Weeks: @Model.TotalWeeks</td>
            </tr>
            <tr>
                <td>
                    Contingency:  @Html.TextBoxFor(m => m.Contingency, new { @onchange = "this.form.submit();" })
                    @Html.HiddenFor(m => m.Contingency)
                </td>
                <td>Sprint Length: @Html.DropDownListFor(m => m.SprintLength, new SelectList(Model.sprintLengthList, "Value", "Text"), "Sprint Length", new { @onchange = "this.form.submit()" })</td>
            </tr>
            <tr>
                <td>Total Dev & QA Hours: @Model.TotalDevQA</td>
                <td>Release & Hardening: @Model.ReleaseAndHardening</td>
            </tr>
            <tr>
                <td>Average Capacity Per Week: @Model.AvgCapacitiyperWeek</td>
                <td>Project Duration Weeks: @Model.ProjectDurationWeeks</td>
            </tr>





        </table>

        <h2>Velocity Validation</h2>


        <table>

            <tr>
                <td>Total Number of Story Points: @Model.totalStoryPoints </td>
                <td>
                    Team Velocity: @Html.TextBoxFor(m => m.TeamVelocity, new { @onchange = "this.form.submit();" })
                    @Html.HiddenFor(m => m.TeamVelocity)
                </td>
            </tr>
            <tr>
                <td>Contingency: @Model.Contingency</td>
                <td>Total Sprints Required to Complete: @Model.TotalSprints</td>
            </tr>
            <tr>
                <td>Total: @Model.totalPointsVelocity</td>
                <td>Total Weeks: @Model.TotalWeeksVelocity</td>
            </tr>
            <tr>
                <td>Release & Hardening: @Model.ReleaseAndHardening</td>
                <td>Project Duration Weeks: @Model.projectDurationWeeksVelocity</td>

            </tr>



        </table>




    }
    }
</div>