@using TimePilot.Web.ViewModels
@model StoryViewModel

@{
    ViewBag.Title = "Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="flex-container-header">
        <h1>Time Pilot</h1>
        <p><a class="pre-activebread">Project Selection ></a><a class="activebread"> Story Points ></a> <a class="deactivebread"> Resource Capacity > Conversion Rate & Results</a></p>
    </div>

    <div class="pre-project-container">
        <h2 class="project-header">STORIES</h2>
        <div class="project-controls">
            <p class="sort-project-info">Sort Story By:</p>
            <select class="sort-method">
                <option onchange="">Name A-Z</option>
                <option>Name Z-A</option>
                <option>Newest Updated</option>
                <option>Oldest Updated</option>
            </select>
        </div>
    </div>
    @using (Html.BeginForm("Story", "Home", FormMethod.Post))
    {
    <div class="stories-container">
        @if (Model.mStoryList.Count < 1)
        {
            <h3> There are no stories for this project </h3>
        }
        else
        {
          
                <h1>@Model.totalNumberStoryPoints</h1>
                <table class="table-hover">
                    <tr>
                        <th>Story ID</th>
                        <th>Story Summary</th>
                        <th>Story Points</th>
                        <th>Delete Story</th>
                    </tr>
                    @for (int i = 0; i < Model.mStoryList.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.Label("Key", @Model.mStoryList[i].Key)
                                @Html.HiddenFor(m => m.mStoryList[i].Key)
                            </td>
                            <td>
                                @Html.Label("Summary", @Model.mStoryList[i].Summary)
                                @Html.HiddenFor(listmodel => listmodel.mStoryList[i].Summary)
                            </td>
                            <td>
                                @Html.TextBoxFor(listmodel => listmodel.mStoryList[i].IntStoryPoint, new { @class = "storyPoint", @onchange = "" })
                                @Html.HiddenFor(m => m.mStoryList[i].IntStoryPoint)
                            </td>
                            <td>
                                @Html.CheckBoxFor(listmodel => listmodel.mStoryList[i].isSelectedToDelete)
                                @Html.HiddenFor(m => m.mStoryList[i].isSelectedToDelete)
                            </td>
                        </tr>
                    }
                </table>
                <input type="submit" value="Delete Selected" onclick="this.form.submit();" class="button" />
                <input type="submit" value="Apply Changes" onclick="this.form.submit();" class="button" />

            }
    </div>
    <input type="submit" value="Previous" onclick="location.href='@Url.Action("Index", "Home")'" class="button" />
    <input name = "command" type="submit" value="Resource Capacity Page" onclick="this.form.submit(); location.href='@Url.Action("Resource", "Home")';" class="button" />
        }
</div>

