<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Asap|Ubuntu" />
        <link rel="stylesheet" href="~/Content/layout-new.css"  />
        @if (IsSectionDefined("projects")){@RenderSection("projects")}
        @if (IsSectionDefined("stories")){@RenderSection("stories")}
        @if (IsSectionDefined("resource")){@RenderSection("resource")}
        @if (IsSectionDefined("results")){@RenderSection("results")}
        <link rel="shortcut icon" type="image/ico" href="~/Content/favicon.ico")">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"> </script>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        @{
            // Data for dynamic header breadcrumbs
            var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
            var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";
            var currentPage = (currentController + "-" + currentAction).ToLower();
        }
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row row-vcentered">
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <a href="/" class="logo-link"><img src="~/Content/logo.svg" alt="pilot" class="logo"/></a>
                        <h2 class="logo-text"><a href="/" class="logo-link">&nbsp;Time Pilot</a></h2>
                    </div>
                    <div class="col-md-2 hidden-sm hidden-xs -"></div>
                    <div class="col-md-6 col-sm-7 hidden-xs text-right crumbs">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item @(currentPage == "home-index" ? "active" : "")">
                                @if (currentPage == "home-story" || currentPage != "home-resource" || currentPage != "home-result")
                                {@Html.ActionLink("Projects", "Index");}
                                else
                                {@Html.Raw("Projects");}
                            </li>
                            <li class="breadcrumb-item @(currentPage == "home-story" ? "active" : "")">
                                @if (currentPage == "home-resource" || currentPage == "home-result")
                                {@Html.ActionLink("Stories", "Story");}
                                else
                                {@Html.Raw("Stories");}
                            </li>
                            <li class="breadcrumb-item @(currentPage == "home-resource" ? "active" : "")">
                                @if (currentPage == "home-result")
                                {@Html.ActionLink("Resource Capacity", "Resource");}
                                else
                                {@Html.Raw("Resource Capacity");}
                            </li>
                            <li class="breadcrumb-item @(currentPage == "home-result" ? "active" : "")">Results</li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>
        @RenderBody()
        <div id="loading"><div id="loading_anim"><img src="~/Content/loading-spinner.svg" alt="pilot" id="spinner-plane" /></div></div>
        <footer class="footer">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-md-8 center-block footer-text">Time Pilot <span id="secret">© </span>2017 &nbsp;|&nbsp; PNI Media &nbsp;|&nbsp; Team Delta-t &nbsp;|&nbsp; All Rights Reserved</div>
                </div>
            </div>
        </footer>
    </body>
</html>
<script>
    //easter egg to show loading spinner
    $('#secret').on('click', function () {
        $('#loading').css('display', 'block');
    });
</script>
